
.ProcessModelMgrPage>div,
.ProcessMgrPage>div,
.ActivityMgrPage>div {
  margin: 10px 0;
	-webkit-box-shadow: 5px 5px 5px #aaa;
	-moz-box-shadow: 5px 5px 5px #aaa;
	box-shadow: 5px 5px 5px #aaa;
	width: 90%;
}

.AbstractAbortPage .c {
  line-height: 2.4;
}

.participants2 {
  cursor: pointer;
}

.icon16 {
  margin: 0 4px;
}