
.ProcessModelMgrPage>div,
.ProcessMgrPage>div,
.ActivityMgrPage>div {
  margin: 10px 0;
	-webkit-box-shadow: 5px 5px 5px #aaa;
	-moz-box-shadow: 5px 5px 5px #aaa;
	box-shadow: 5px 5px 5px #aaa;
	width: 90%;
}

.ProcessAbortPage .c {
  line-height: 2.4;
}