.ProcessModelMgrPage>div,
.ProcessMgrPage>div,
.ActivityMgrPage>div {
  margin: 10px 0;
	-webkit-box-shadow: 5px 5px 5px #aaa;
	-moz-box-shadow: 5px 5px 5px #aaa;
	box-shadow: 5px 5px 5px #aaa;
	-moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
	width: 90%;
}

.tablepager .simple_progress {
  width: 95%;
}

.AbstractAbortPage .AbstractAbortPage .c {
  line-height: 2.4;
}

.AbstractAbortPage .simple_window_tcb .b {
  background-color: #f9f9f9;
  padding-top: 10px;
}