.my_work_icon {
  background-image: url("images/my_work.png");
}

.my_work_complete_icon {
  background-image: url("images/my_work_complete.png");
}

.my_initiate_icon {
  background-image: url("images/my_initiate.png");
}

.delegate_list_icon {
  background-image: url("images/delegate_list.png");
}

.menu_unread {
  background-image: url("images/mark_unread.png");
}

.menu_top {
  background-image: url("images/mark_top.png");
}

.menu_retake {
  background-image: url("images/status_retake.png");
}

.menu_delegate {
  background-image: url("images/status_delegate.png");
}

.menu_fallback {
  background-image: url("images/status_fallback.png");
}

.worklist_group_val {
  font-weight: normal;
  margin-left: 5px;
  color: #999;
  font-size: 9pt;
}

.worklist_tip {
  display: inline-block;
  font-size: 9.5pt;
  background-color: #eed;
  border: 1px solid #aaa;
  padding: 2px 12px;
  margin-bottom: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

.worklist_timeout, 
.worklist_timeout2 {
  display: inline-block;
  background-color: #c00;
  color: #fff;
  margin-right: 4px;
  padding: 1px 6px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 11px;
}

.worklist_timeout2 {
  background-color: #f60;
}

.worklist_search {
  position: relative;
}

.worklist_search input {
  background-color: transparent;
  background-image: none;
  border: none;
  border-bottom: 1px solid #999;
  width: 280px;
  font-size: 9.5pt;
  padding: 0 0 4px 6px;  
  -moz-border-radius: 0 0 0 6px;
  -webkit-border-radius: 0 0 0 6px;
  border-radius: 0 0 0 6px;
}

.worklist_search a {
  position: absolute;
  right: 0px;
  background-color: #d66;
  border-color: #a33;
  color: #eee;
}

.worklist_search a:HOVER {
  background-color: #e77;
  border-color: #b44;
  -webkit-box-shadow: 0px 0px 5px #bbb;
	box-shadow: 0px 0px 5px #bbb;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}

.worklist_search a {
  transition: all 0.3s ease 0s;
}

.UserToPage .iitem {
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.UserToPage .iitem:HOVER {
  background-color: #f7f7f7;
}

.UserToPage .bb {
  text-align: right;
  padding: 6px 10px;
  border-bottom: 1px solid #bbb;
  background-color: #eee;
}

#idWorklistProgressBar {
  height: 4px;
  margin-top: 1px;
  width: 240px;
}

#idWorklistProgressBar .pinfo {
  margin-top: 3px;
  text-align: right;
  color: #777;
}

#idWorklistProgressBar .pinfo a {
  color: #777;
}

#idWorklistProgressBar .pinfo a:HOVER {
  color: #111;
  text-decoration: none;
}

#idWorklistProgressBar .pinfo span {
  margin: 0 2px;
  color: #111;
  font-style: italic;
}

.MyWorkstatTPage {
  background-color: #eee;
  border: 1px solid #bbb;
}

.MyWorkstatTPage .topic {
  font-size: 10.5pt;
  padding: 8px 0;
}

.MyWorkstatTPage .stat1, 
.MyWorkstatTPage .stat2 {
  padding: 10px;
}

.MyWorkstatTPage .stat1 {
  border-bottom: 1px solid #ccc;
}

.MyWorkstatTPage .stat1 .col {
  float: left;
  width: 12%;
  border-right: 1px solid #ccc;
  text-align: center;
  margin: 6px 0;
}

.MyWorkstatTPage .stat1 .col .num {
  font-size: 18pt;
}

.MyWorkstatTPage .stat2 {
  background-color: #fff;
}

.MyWorkstatTPage .stat2 .highcharts-tooltip>span {
  font-family: Verdana, "Microsoft YaHei", sans-serif, Tahoma, Arial !important;
  line-height: 1.5;
}

.MyWorklogsTPage .topbar {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 10px;
}

.MyWorklogsTPage .logs {
  border: 1px solid #ccc;
  border-top: 0;
  padding: 15px;
}

.MyWorklogsTPage .timec {
  padding: 15px 20px;
  font-size: 10.5pt;
  position: relative;
}

.MyWorklogsTPage .timec .dot, 
.MyWorklogsTPage .timec .dot1 {
  position: absolute;
  display: inline-block;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}

.MyWorklogsTPage .timec .dot {
  height: 11px;
  width: 11px;
  right: -6px;
  top: 19px;
  background-color: #ccc;
}

.MyWorklogsTPage .timec .dot1 {
  height: 15px;
  width: 15px;
  right: -8px;
  top: 17px;
  background-color: #fff;
}

.MyWorklogsTPage .cc {
  border-left: 1px solid #ccc;
  line-height: 1.8;
  padding: 15px 20px;
  color: #666;
}

.MyInitiateItemsGroupTPage {
  padding: 12px 12px 36px 12px;
  background-color: #eee;
  border: 1px solid #bbb;
  border-top-width: 0;
}

.MyInitiateItemsGroupTPage .lblock {
  float: left;
  width: 33.3%;
}

.MyInitiateItemsGroupTPage .lblock .lt {
  padding: 0 8px 0 2px;
  font-size: 9.5pt;
  line-height: 1.8;
  display: inline-block;
  border-bottom: 3px solid transparent;
  margin-bottom: -3px;
}

.MyInitiateItemsGroupTPage .lblock .lc {
  width: 95%;
  border-top: 3px solid #bbb;
}

.MyInitiateItemsGroupTPage .lblock .litem {
  border-bottom: 1px dashed #bbb;
  padding: 9px 2px;
  color: #676;
  cursor: pointer;
}

.MyInitiateItemsGroupTPage .lblock .litem:hover {
  background-color: #f5f5f5;
}

.MyInitiateItemsGroupTPage .lblock .litem:last-child {
  border-bottom: 0;
}

.ProcessDetailPage .ptitle {
  padding: 10px;
  background-color: #eee;
  font-size: 10.5pt;
  color: #900;
}

.ProcessDetailPage .ptag {
  background-color: #ddd;
  display: inline-block;
  margin: 4px;
  padding: 3px 9px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
}

.Category_BlankPage .category .c_item {
  padding-left: 10px;
}

.Category_ListPage .tabbtns {
  position: absolute;
  bottom: 0;
  right: 150px;
  z-index: 11;
}

.Category_ListPage ul.simple_tabs a.active {
  background-image: none !important;
  background-color: #efefef !important;
  border-bottom-color: #efefef !important;
}

.Category_ListPage .tablepager .thead {
  box-shadow: none !important;
}