/*---------------------------ProcessDetailPage-----------------------*/
.ProcessDetailPage .ptitle {
  padding: 10px;
  background-color: #eee;
  font-size: 10.5pt;
  color: #900;
}

.ProcessDetailPage .ptag {
  background-color: #ddd;
  display: inline-block;
  margin: 4px;
  padding: 3px 9px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
}

/*---------------------------MyProcessWorksTPage-----------------------*/
.MyProcessWorksTPage .category {
  padding: 15px 0;
}

.MyProcessWorksTPage .category .col1 {
  position: static !important;
}

.MyProcessWorksTPage .col1 .gtitle {
  border-bottom: 1px dashed #bbb;
  color: #833;
  font-size: 11px;
  margin-bottom: 4px;
  padding: 2px 0 6px 10px;
}

.MyProcessWorksTPage .col1 .gitem {
  margin-right: 1px;
  padding: 8px 15px;
  background: url("images/pop_arrow.png") no-repeat scroll 95% 50%;
  color: #666;
}

.MyProcessWorksTPage .col1 .gitem.cur {
  background-image: url("images/pop_arrow_hover.png");
}

.MyProcessWorksTPage .col1 .gitem .glbl {
  font-size: 10.5pt;
}

.MyProcessWorksTPage .col1 .gitem .gsize {
  margin-left: 3px;
  color: #666;
}

.MyProcessWorksTPage .col1 .gitem:HOVER {
  background-color: #d9e9f9;
}

.MyProcessWorksTPage .col1 .gitem.active {
  background-color: #4ad;
  color: #fff;
}

.MyProcessWorksTPage .col1 .gitem.active * {
  color: #fff;
}

.MyProcessWorksTPage .col1 .psub {
  position: absolute;
  background-color: #4ad;
  color: #fff;
  font-size: 9.5pt;
  width: 480px;
  min-height: 200px;
  top: 0;
  visibility: hidden;
  padding-bottom: 15px;
  padding: 0 15px;
  z-index: 20;
}

.MyProcessWorksTPage .col1 .psub.show {
  visibility: visible;
}

.MyProcessWorksTPage .col1  .pitem {
  display: inline-block;
  padding: 10px;
}

.MyProcessWorksTPage .col2 .modeltxt {
  background-color: #eed;
  color: #654;
  margin-bottom: 8px;
  padding: 4px 10px;
}

.MyProcessWorksTPage .col2 .modeltxt .pm {
  font-size: 10.5pt;
  margin-right: 4px;
}