/*---------------------------ProcessDetailPage-----------------------*/
.ProcessDetailPage .ptitle {
  padding: 10px;
  background-color: #eee;
  font-size: 10.5pt;
  color: #900;
}

.ProcessDetailPage .ptag {
  background-color: #ddd;
  display: inline-block;
  margin: 4px;
  padding: 3px 9px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
}

/*---------------------------MyProcessWorksTPage-----------------------*/
.MyProcessWorksTPage .category {
  padding: 15px 0;
}

.MyProcessWorksTPage .category .c_item {
  line-height: 1.5;
  padding-bottom: 6px;
  padding-top: 6px;
  color: #666;
}

.MyProcessWorksTPage .category .c_item .pm-txt {
  display: inline-block;
  height: 21px;
  overflow: hidden;
}

.MyProcessWorksTPage .category .col1 {
  position: static !important;
}

.MyProcessWorksTPage .col1 .gtitle {
  border-bottom: 1px dashed #bbb;
  color: #666;
  font-size: 11px;
  margin-bottom: 4px;
  padding: 2px 0 6px 6px;
}

.MyProcessWorksTPage .col1 .gtitle a {
  color: #833;
}

.MyProcessWorksTPage .col1 .gtitle a:HOVER {
  color: #a55;
}

.MyProcessWorksTPage .col1 .gitem {
  margin-right: 1px;
  padding: 8px 15px;
  background: url("images/pop_arrow.png") no-repeat scroll 95% 50%;
  color: #666;
}

.MyProcessWorksTPage .col1 .gitem.cur {
  background-image: url("images/pop_arrow_hover.png");
}

.MyProcessWorksTPage .col1 .gitem .glbl {
  font-size: 10.5pt;
}

.MyProcessWorksTPage .col1 .gitem .gsize {
  margin-left: 3px;
  color: #333;
}

.MyProcessWorksTPage .col1 .gitem:HOVER {
  background-color: #eed;
}

.MyProcessWorksTPage .col1 .gitem.active {
  background-color: #cde;
}

.MyProcessWorksTPage .col1 .gitem.active .glbl, 
.MyProcessWorksTPage .col1 .gitem.active .gsize {
  color: #555;
}

.MyProcessWorksTPage .col1 .psub {
  position: absolute;
  background-color: #cde;
  color: #fff;
  font-size: 9.5pt;
  width: 740px;
  min-height: 240px;
  top: 0;
  visibility: hidden;
  padding-bottom: 15px;
  padding: 0 15px 15px;
  z-index: 20;
}

.MyProcessWorksTPage .col1 .psub.show {
  visibility: visible;
}

.MyProcessWorksTPage .col1 .pitem {
  display: inline-block;
  margin: 0 15px 6px 0;
  width: 130px;
  height: 21px;
  line-height: 1.5; 
  vertical-align: top;
  overflow: hidden;
  padding: 2px 5px;
  cursor: pointer;
}

.MyProcessWorksTPage .col1 .pitem:HOVER {
  background-color: #c44;
}

.MyProcessWorksTPage .col1 .pitem:HOVER a {
  color: #fff;
}

.MyProcessWorksTPage .col1 .pgroup {
  border-top: 1px dashed #d2d2d2;
  margin-bottom: 4px;
  color: #662;
  padding: 12px 0 4px 110px;
  min-height: 40px;
}

.MyProcessWorksTPage .col1 .pgroup span {
  float: left;
  margin-left: -110px;
  max-width: 90px;
}

.MyProcessWorksTPage .col1 .pitem a {
  color: #444;
}

.MyProcessWorksTPage .col2 .model-filter {
  border-bottom: 1px dashed #ccc;
  margin-bottom: 10px;
  padding-bottom: 6px;
}

.MyProcessWorksTPage .col2 .tool_bar .le {
  line-height: 1.8;
}

.MyProcessWorksTPage .col2 .tool_bar .re img.depts-menu {
  margin-bottom: 4px;
  margin-left: 4px;
  vertical-align: middle;
  cursor: pointer;
}