.simple_window_tcb .b {
  padding: 6px 8px 6px 6px;
  background-color: #eee;
}

.activity_fallback_select {
  overflow-y: auto;
}

.activity_fallback_select .nitem {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.activity_fallback_select .nitem:HOVER {
  background-color: #f6f6f6;
}

.activity_fallback_select .nitem.select {
  background-color: #f1f1f1;
}
