.participant_select .ritem, 
.transition_select .ritem {
  border-bottom: 1px solid #ccc;
  padding: 10px 8px;
}

.participant_select .ritem:hover, 
.transition_select .ritem:hover {
  background-color: #f7f7f7;
}

.participant_select .msg span, 
.transition_select .msg span {
  color: red;
  font-size: 9.5pt;
  padding: 8px;
  display: inline-block;
}

.participant_select .transition {
  background-color: #eee;
  padding: 8px 6px;
  color: #a00;
  border-bottom: 1px solid #bbb;
  color: #a00;
  font-size: 9.5pt;
}