.participant_select .ritem,
.transition_select .ritem {
  border-bottom: 1px solid #bbb;
  padding: 8px 6px;
}

.participant_select .ritem:hover,
.transition_select .ritem:hover {
  background-color: #f7f7f7;
}

.participant_select .msg,
.transition_select .msg {
  color: red;
  font-size: 9.5pt;
  margin: 6px;
}

.participant_select .transition {
  background-color: #eee;
  padding: 8px 6px;
  color: #a00;
  border-bottom: 1px solid #aaa;
  color: #a00;
  font-size: 9.5pt;
}