#idProcessMgrTPage_tbl,
#idProcessModelMgrTPage_tbl,
#idActivityMgrTPage_tbl {
  padding: 8px;
}

#ActivityGraphMgrTPage_tbl .thead,
#ActivityGraphMgrTPage_tbl .tfilter,
#ActivityGraphMgrTPage_tbl .tbody {
  border-left-width: 0;
  border-right-width: 0;
}

#ActivityGraphMgrTPage_tbl .pager_no_result {
  border-width: 0;
}

.WorkflowGraphMonitorPage .tb {
  border-width: 0 !important;
}

.WorkflowGraphMonitorPage .graph {
  border-width: 1px 0 1px 0 !important;
}

.AbstractAbortPage .AbstractAbortPage .c {
  line-height: 2.4;
}

.AbstractAbortPage .simple_window_tcb .b {
  background-color: #f9f9f9;
  padding-top: 10px;
}