#idProcessMgrTPage_tbl,
#idProcessModelMgrTPage_tbl,
#idActivityMgrTPage_tbl {
  padding: 8px;
}

#ActivityGraphMgrTPage_tbl .thead,
#ActivityGraphMgrTPage_tbl .tfilter,
#ActivityGraphMgrTPage_tbl .tbody {
  border-left-width: 0;
  border-right-width: 0;
}

#ActivityGraphMgrTPage_tbl .pager_no_result {
  border-width: 0;
}

.WorkflowGraphMonitorPage .tb {
  border-width: 0 !important;
}

.WorkflowGraphMonitorPage .graph {
  border-width: 1px 0 1px 0 !important;
}

/**-------------------Tabs_BlankPage-----------------**/
.AbstractWorkflowMgrPage .Tabs_BlankPage .Tabs_tb {
  border: 0;
  background-color: #f9f9f9;
}

.AbstractWorkflowMgrPage .Tabs_BlankPage .Tabs_cc {
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}
.AbstractWorkflowMgrPage .Tabs_BlankPage .Tabs_tb .le * {
  vertical-align: middle;
}

.AbstractWorkflowMgrPage .Tabs_BlankPage .Tabs_tb .le .org_txt {
  color: #654;
  font-size: 11.5pt;
}