.FormTableRowTemplatePage .wf_comment {
  padding: 2px;
}

.FormTableRowTemplatePage .wf_comment textarea {
  background-color: #fdfdfd;
  border: 1px solid #eee;
  padding: 2px;
}

.FormTableRowTemplatePage .wf_comment .btns {
  padding: 4px;
}

.FormTableRowTemplatePage .wf_comment .btns a {
  background-color: #456;
  color: #fff;
  display: inline-block;
  padding: 2px 10px;
  text-decoration: none;
}

.FormTableRowTemplatePage .wf_comment .btns a:HOVER {
  background-color: #678;
}